.footer {
    font-family: 'Cliona', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    opacity: 0.4;
}

.heart {
    color: red;
}