.track {
    position: absolute;
    background-color: #03171e;
    width: 150px;
    height: 10px;
    left: 100px;
    top: 100px;
    box-shadow: 190px -50px #03171e, -10px -50px #03171e, 10px -50px #03171e;
    z-index: 1;
}

.track:before {
    content: "";
    position: absolute;
    background-color: #495057;
    width: 7px;
    height: 2.5px;
    top: 2px;
    left: -9px;
    box-shadow: 10px 0 #495057, 20px 0 #495057, 30px 0 #495057, 40px 0 #495057, 50px 0 #495057, 60px 0 #495057, 70px 0 #495057, 80px 0 #495057, 90px 0 #495057, 100px 0 #495057, 110px 0 #495057, 120px 0 #495057, 130px 0 #495057, 140px 0 #495057, 150px 0 #495057, 231px -50px #495057, 241px -50px #495057, 251px -50px #495057, 261px -50px #495057, 271px -50px #495057, 281px -50px #495057, 291px -50px #495057, 301px -50px #495057, 311px -50px #495057, 321px -50px #495057, 331px -50px #495057;
}

.track:after {
    position: absolute;
    content: "";
    background-color: #03171e;
    width: 20px;
    height: 5px;
    top: -40px;
    left: 55px;
    box-shadow: -50px 0 #03171e, 50px 0 #03171e, 150px 0 #03171e, 190px 0 #03171e, 230px 0 #03171e, 270px 0 #03171e, 10px 50px #03171e, 50px 50px #03171e, 90px 50px #03171e, 50px 85px #03171e;
}

.train-container {
    z-index: 2;
    position: absolute;
    width: 160px;
    height: 100px;
    overflow: hidden;
    left: 90px;
}

.train {
    position: absolute;
    background-color: #014f86;
    width: 60px;
    height: 25px;
    top: 75px;
    left: -100px;
    box-shadow: 65px 0 #014f86, 130px 0 #014f86, 195px 0 #014f86, 260px 0 #014f86, -65px 0 #014f86;
    animation: move 3s linear infinite;
    -webkit-animation: move 3s linear infinite;
}

.train:before {
    content: "";
    position: absolute;
    background-color: #ffd60a;
    width: 15px;
    height: 10px;
    left: 40px;
    top: 5px;
    box-shadow: 65px 0 #ffd60a, -65px 0 #ffd60a, 130px 0 #ffd60a, 195px 0 #ffd60a, 260px 0 #ffd60a;
}

.train:after {
    content: "";
    position: absolute;
    background-color: #ffd60a;
    height: 5px;
    width: 5px;
    top: 5px;
    left: 7px;
    box-shadow: 10px 0 #ffd60a, 75px 0 #ffd60a, 140px 0 #ffd60a, 20px 0 #ffd60a, 85px 0 #ffd60a, 150px 0 #ffd60a, 33px 12px #ffd60a, 98px 12px #ffd60a, 163px 12px #ffd60a, 43px 12px #ffd60a, 108px 12px #ffd60a, 173px 12px #ffd60a, 238px 12px #ffd60a, 303px 12px #ffd60a, 65px 0 #ffd60a, 130px 0 #ffd60a, 195px 0 #ffd60a, 260px 0 #ffd60a, -65px 0 #ffd60a, -55px 0 #ffd60a, -45px 0 #ffd60a, -32px 12px #ffd60a, -22px 12px #ffd60a, 228px 12px #ffd60a, 293px 12px #ffd60a, 215px 0 #ffd60a, 280px 0 #ffd60a, 205px 0 #ffd60a, 270px 0 #ffd60a;
}

@keyframes move {
    from {
        left: -150px;
    }

    to {
        left: 44px;
    }
}

@-webkit-keyframes move {
    from {
        left: -150px;
    }

    to {
        left: 44px;
    }
}

.further-train {
    position: absolute;
    width: 152px;
    height: 100px;
    z-index: 2;
    left: 300px;
    top: -35px;
    transform: scaleX(-1) scale(.7);
    overflow: hidden;
    filter: saturate(.5);
}